src/main/mule/version-increment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b66c00c1-2774-439e-9114-2d8e2f6072b9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="version-incrementFlow" doc:id="e3a6e205-3fa5-43e9-8aeb-9eb0659951be" >
		<http:listener doc:name="Listener" doc:id="6dbf9c02-8c44-42f7-840b-e3a6e38e0bfa" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["Hello World"]' doc:name="Set Payload" doc:id="4fa55d10-3485-4c5b-b588-f039f3ee9974" />
	</flow>
</mule>
